

<div class="homepage_box"> 
    <h1> shady </h1>
    <h1> landlord </h1>
    <%= button_to "login", renter_login_path, method: :get %>
    <%= button_to "register", new_renter_path, method: :get %>
</div>
